{%load static%}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/w3.css'%}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EletivasPro Início</title>
</head>
<body>
    <div class="w3-container">
            <div class=" w3-container w3-center">
                <img src="{%static 'img/logo.png'%}" style="margin-right:20px; width: 350px; height: 80px;" >
            </div>
            <div class="w3-container w3-center">
                <h2 class="w3-blue">Selecione a forma de login</h2> 
            </div>
            <div class="w3-container" style="margin-top:60px;">
            <div class="w3-container w3-center w3-left" style="margin-left:20%;">
                <div class="w3-container w3-blue">
                    <p><b>Entrar como professor</b></p>
                </div>
                <a href="{%url 'professor:entrar'%}"class="w3-btn botao_escolha-professor"></a>
            </div>
            <div class="w3-container w3-center w3-right" style="margin-right:20%;">
                <div class="w3-container w3-blue">
                    <p><b>Entrar como aluno</b></p>
                </div>
                <a href="{%url 'aluno:entrar'%}" class="w3-btn botao_escolha-aluno "></a>
            </div>
            </div>
                
    </div>

    
</body>
</html>