<body>
    <div class=" w3-container ">
        <header>
        <h2>Sobre o sistema</h2>
        </header>
        <div class=" w3-container">
            <p>
                O <b>EletivasPro</b> é uma plataforma para as escolas que
                usam do sistema de eletivas do padrão EEMTI REGULAR, ele permite
                a rápida criação e manutenção de eletivas, realizar as matrículas pelo sistema,
                e possui um sistema de verificação de erros automático
            </p>
        </div>
        <header> 
        </header>
        <p>

        </p>

    </div>

</body>