{%load static%}
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/w3.css'%}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EletivasPro Início</title>
</head>
<body>
    <div class="w3-container">
            <div class="w3-container w3-center" >
                <img src="{%static 'img/logo.png'%}" class="w3-round img-logo" alt="Norway"> 
            </div>
            <div class="w3-container">
            <div class="w3-container w3-center">
                <a href="{%url 'professor:entrar'%}"class="w3-btn w3-white w3-padding-large botao_escolha w3-hover-blue"><b>Entrar como<br/> professor</b></a>
            </div>
            <div class="w3-container w3-center">
                <a href="{%url 'aluno:entrar'%}" class="w3-btn w3-white w3-padding-large botao_escolha w3-hover-blue"><b>Entrar como<br/> aluno</b></a>
            </div>
            </div>
                
    </div>

    
</body>
</html>