{%include 'base/navbar_professor.html'%}

<head>
    <title> EletivasPro - Eletivas</title>
</head>

<body>
    <div class="w3-container" style="margin-left: 20%;">
    <div class="w3-container w3-blue" style="text-align:center;">
        <h2>Suas eletivas</h2>
    </div>
    <div>

        {% if eletivas is not None %}

        <table class="w3-table w3-bordered">
            <tr>
                <th>Nome</th>
                <th>Vagas</th>
                <th>Dia</th>
                <th>Turno</th>
                <th>Ação</th>
            </tr>
            {% for eletiva in eletivas %}
            <tr>
                <td>{{ eletiva.nome}}</td>
                <td>{{ eletiva.vagas }}</td>
                <td>{{ eletiva.get_dia_display }}</td>
                <td>{{ eletiva.get_periodo_display }}</td>
                <td colspan="3"><a href="{% url 'professor:eletiva' id=eletiva.pk%}">Modificar</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Parece que você não possui eletivas cadastradas ainda</p>
        {% endif %}
    </div>
    </div>
</body>