{% load static %}

<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/w3.css'%}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="w3-sidebar w3-bar-block" style="width:20%;background-color:#202020;color:white;">
        <a href="#index" class="w3-bar-item w3-button w3-blue w3-hover-blue w3-center"><b>Eletivas-Pro</b></a>
        <a class="w3-bar-item w3-button w3-hover-blue" href="{% url 'home:index'%}">Inicio</a></li>
        <button class="w3-button w3-block w3-left-align w3-hover-blue" onclick="ProfessorAccFunc()">
            Professor <i class="fa fa-caret-down"></i>
            </button>
            <div id="ProfessorAcc" class="w3-hide w3-white w3-card">
                {%if status_professor == True%}
              <a href="{%url 'professor:sair'%}" class="w3-bar-item w3-button">Sair</a>
              {%else%}
              <a href="{%url 'professor:entrar'%}" class="w3-bar-item w3-button">Entrar</a>
              {%endif%}
              <a href="{%url 'professor:eletivas_cadastrar'%}" class="w3-bar-item w3-button">Cadastrar eletivas</a>
              <a href="{%url 'professor:eletivas'%}" class="w3-bar-item w3-button">Eletivas</a>
            </div>
            <button class="w3-button w3-block w3-left-align w3-hover-blue" onclick="AlunoAccFunc()">
                Aluno <i class="fa fa-caret-down"></i>
                </button>
                <div id="AlunoAcc" class="w3-hide w3-white w3-card">
                    {%if status_aluno == True%}
                  <a href="{%url 'aluno:sair'%}" class="w3-bar-item w3-button">Sair</a>
                  {%else%}
                  <a href="{%url 'aluno:entrar'%}" class="w3-bar-item w3-button">Entrar</a>
                  {%endif%}
                  <a href="{%url 'aluno:eletivas'%}" class="w3-bar-item w3-button">Eletivas</a>
                </div>
            </div>
    </div>
    <script>
        function AlunoAccFunc() {
            var x = document.getElementById("AlunoAcc");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-blue";
            } else { 
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className = 
                x.previousElementSibling.className.replace(" w3-blue", "");
            }
        }
        
        function AlunoDropFunc() {
            var x = document.getElementById("AlunoDrop");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-blue";
            } else { 
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className = 
                x.previousElementSibling.className.replace(" w3-blue", "");
            }
        }


        function ProfessorAccFunc() {
            var x = document.getElementById("ProfessorAcc");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-blue";
            } else { 
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className = 
                x.previousElementSibling.className.replace(" w3-blue", "");
            }
        }
        
        function ProfessorDropFunc() {
            var x = document.getElementById("ProfessorDrop");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-blue";
            } else { 
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className = 
                x.previousElementSibling.className.replace(" w3-blue", "");
            }
        }
        </script>
</body>