{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/w3.css'%}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="w3-sidebar w3-bar-block" style="width:20%;background-color:#202020;color:white;">
        <a href="#index" class="w3-bar-item w3-button w3-blue w3-hover-blue w3-center"><b>EletivasPro</b></a>
        <a href="{%url 'aluno:index'%}" class="w3-hover-blue w3-bar-item w3-button">Ínicio</a>
            <button class="w3-button w3-block w3-left-align w3-hover-blue" onclick="AlunoAccFunc()">
                Aluno <i class="fa fa-caret-down"></i>
                </button>
                <div id="AlunoAcc" class="w3-hide w3-white w3-card">
                  <a href="{%url 'aluno:eletivas'%}" class="w3-bar-item w3-button">Cadastrar eletivas</a>
                  <a href="{%url 'aluno:registros'%}" class="w3-bar-item w3-button">Eletivas registradas</a>
                </div>
            </div>
            <div>
                    <p class="w3-blue w3-bottom w3-left-align w3-center" style="width: 20%;margin-bottom: 58px;">Logado como: {{aluno.nome}}</p>
                </div>
            <a class="w3-bar-item w3-button w3-hover-blue w3-bottom w3-left-align w3-center" style="width: 20%;margin-bottom: 20px; color: white;" href="{% url 'professor:sair'%}">Sair</a>
    </div>
    <script>
        function AlunoAccFunc() {
            var x = document.getElementById("AlunoAcc");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-blue";
            } else { 
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className = 
                x.previousElementSibling.className.replace(" w3-blue", "");
            }
        }
        
        function AlunoDropFunc() {
            var x = document.getElementById("AlunoDrop");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-blue";
            } else { 
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className = 
                x.previousElementSibling.className.replace(" w3-blue", "");
            }
        }

        </script>
</body>