{%load static%}
<html>
<head>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/w3.css'%}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>EletivasPro Entrar</title>

<body>
        <div class="w3-container w3-center">
                <div class="w3-card-4" style="background-color: white;">
                  <div class="w3-container w3-blue" style="text-align: center;">
                    <h2>Entre com sua matrícula</h2>
                  </div>
            <div>
            <form class="w3-container" action="{% url 'aluno:entrar'%}" method='POST'>
                {% csrf_token %}
                <p>      
                <label class="w3-text-dark-gray"><b>Matrícula:</b></label>
                <input class="w3-input w3-border w3-white" type="number" name="matricula_sige" class="form-control" placeholder="Matrícula do aluno.."
                        maxlength="7" minlength="7" /></p>
                <p>      
                <button class="w3-btn w3-blue">Entrar</button></p>
            </form>
            </div>
        </div>
        <div>
                {% if erro is not None %}
                <div class="w3-container w3-red w3-center" style="margin-top: 2%;">
                <p class="error-hard">{{ erro }}</p>
                {% endif %}
            </div>

</body>

</html>