{%include 'base/navbar_aluno.html'%}
<html>
<head>
    <title> Eletivas-Pro - Cadastro Eletivas</title>
</head>
<body>
    <div class="w3-container" style="margin-left: 20%;">
        <div class="w3-container w3-center w3-blue" style="margin-bottom: 20px;">
            <h2>Eletivas disponíveis</h2>
            <p>Estas são as eletivas disponíveis em sua escola!</p>
        </div>
    {%for eletiva in eletivas%}
    {%if eletiva.vagas == eletiva.vagas_usadas%}
    <div class="w3-card-4 w3-container w3-red" style="margin-bottom: 20px;">
            <header>
                <h1><i>{{eletiva.nome}} - {{eletiva.professor}}</i></h1>
                <p>{{ eletiva.get_dia_display }} - {{ eletiva.get_periodo_display }}</p>
            </header> 
            <div class="w3-container">
            <p style="font-size: 20px;">{{eletiva.desc}}</p>
            </div>               
            <footer>
                <h5><b>Eletiva Lotada!</b></h5>
            </footer>
    </div>
    {%else%}
    <div class="w3-card-4 w3-container w3-blue" style="margin-bottom: 20px;">
            <header>
                <h1><i>{{eletiva.nome}} - {{eletiva.professor}}</i></h1>
                <p>{{ eletiva.get_dia_display }} - {{ eletiva.get_periodo_display }}</p>
            </header> 
            <div class="w3-container">
            <p style="font-size: 20px;">{{eletiva.desc}}</p>
            </div>               
            <footer>
                <form action="{%url 'aluno:eletivas'%}" method="POST">
                    <a class="w3-btn w3-white" href="{%url 'aluno:eletiva' id=eletiva.pk%}">Ver informações</a>
                </form>
            </footer>
    </div>
    {%endif%}
    {%endfor%} 
    </div>
    </body>
</html>