/*Importar fonte do google apis*/
@import url('https://fonts.googleapis.com/css?family=Merriweather');



/* HEADER - CABEÇALHO DA PÁGINA*/
.header {
    /*cores*/
    background-color: rgb(22, 22, 22);
    color: cyan;

    /*tamanho e alinhamento*/
    text-align: center;
    padding: 7px;
    
}


.img-logo {
    width: 240px;
    height: 55px;
    padding-top: 0px;
}


/* NAVBAR - BARRA DE NAVEGAÇÃO */
.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgb(30,30,30);
    overflow: hidden;
}

/* classe de um elemento padrão na navbar*/
.nav {
    display: inline;
}

/* use esta quando quiser alinhar um elemento a esquerda*/
.nav-left {
    float: left;
}
/*a direita */
.nav-right {
    float: right;
}
/* elemento a da nav*/
.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 13px 20px;
    text-decoration: none;
}
/* definir a cor de fundo quando passado o mouse*/
.nav a:hover {
    background-color: #0098da;
}

.active {
    background-color: #0098da;
}

/* FORM - FORMULARIOS*/

.form input[type=text], input[type=number]{
    width:100%;
    padding: 10px 10px;
    margin: 8px 0px;
    border:none;
    border-bottom: 2px solid #0098da;
}

.form input[type=submit] {
    background-color: #0098da;
    border-color: #0098da;
    color: white;
    border-radius: 5px;
    padding: 12px 30px;
    float: right;
}

.form input[type=submit]:hover {
    background-color: #017aad;
}


/* ERROS - Erros*/

.error-hard {
    border-style: solid;
    color: white;
    background-color: rgb(226, 44, 44);
    text-align: center;
    border-radius: 5px;
}
u{
    text-decoration-color: white;
}