{% load static %}
{% include 'base/navbar_professor.html'%}
<html>

<head>
    <title>EletivasPro - Cadastrar Eletiva</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css'%}">
</head>
<body>
    <div class="w3-container" style="margin-left:20%;">
        <div class="w3-container w3-blue w3-center">
        <h2>Cadastrar Eletiva</h2>
        <p>Crie aqui sua própria eletiva!</p> 
        </div>
        <form class ="w3-container" action="{%url 'professor:eletivas_cadastrar'%}" method="POST">
            {%csrf_token%}
                {{ form.as_p}}
                <button class="w3-btn w3-blue">Salvar</button>
            </form>
            {%if mensagem is not None%}
            <div class="w3-panel w3-green">
                <p>{{mensagem}}</p>
                </div> 
            {%endif%}
    </div>
</body>
</html>