{%include 'base/navbar_professor.html'%}

<head>
    <title>
        Eletiva - {{eletiva.nome}}
    </title>
</head>

<body>
    <div class="w3-container" style="margin-left: 20%;">
        <div class="w3-container w3-blue" style="text-align: center;">
            <h2>{{eletiva.nome}}</h2>
        </div>
        <div class="w3-container">
            <table class="w3-table">
                <tr>
                    <th>
                        Número de vagas:
                    </th>
                    <td>{{eletiva.vagas_usadas}}/{{eletiva.vagas}}</td>
                </tr>
                <tr>
                    <th>
                        Descrição:
                    </th>
                    <td>{{eletiva.desc}}</td>
                </tr>
                <tr>
                    <th>Dia da eletiva: </th>
                    <td>{{ eletiva.get_dia_display }}</td>
                </tr>
                <tr>
                    <th>Período: </th>
                    <td>{{ eletiva.get_periodo_display }}</td>
                </tr>
            </table>
        </div>
        <div class="w3-container w3-blue" style="text-align: center;">
            <h2>Alunos registrados</h2>
        </div>
        <div class="w3-container" style="margin-top: 20px;margin-bottom:20px;">
            {% if registros is not None %}
            <table class="w3-table w3-centered">
                <tr>
                    <th>Aluno</th>
                    <th>Série</th>
                    <th>Turma</th>
                </tr>

                {% for registro in registros %}
                <tr>
                    <td>{{ registro.aluno.nome }}</td>
                    <td>{{ registro.aluno.serie }}</td>
                    <td>{{ registro.aluno.turma }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h3>Nenhum aluno se cadastrou na sua eletiva... ainda ;) </h3>
            {% endif %}
        </div>
        <div class="w3-container w3-blue" style="text-align: center; ">
            <h2>Editar Eletiva</h2>
        </div>
        <div class="w3-container">
            <form class="w3-container" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="w3-btn w3-blue">Salvar</button>
            </form>
            {%if mensagem is not None%}
            <div class="w3-panel w3-green">
                <p>{{mensagem}}</p>
            </div>
            {%elif erro is not None%}
            <div class="w3-panel w3-red">
                <p>{{erro}}</p>
            </div>
            {%endif%}
        </div>

    </div>
    <div class="w3-container" style="margin-left: 20%;">
</body>