

.botao_escolha-aluno{
    width: 300px;
    height: 200px;
    padding-bottom: 210px;
    background: url('img/aluno_icone.png')  no-repeat;
}
.botao_escolha-professor{
    width: 300px;
    height: 200px;
    padding-bottom: 210px;
    background: url('img/professor_icone.png')  no-repeat;
}


.painel a{
    vertical-align: middle;
}

body{
    background-color:#202020;
}
