.img-logo{
    width: 300px;
    height: 100px;
}

.botao_escolha{
    width: 200px;
    height: 100px;
    font-size: 24px;
    text-align: center;
    border-color: white;
    margin-top: 60px;
    vertical-align: middle;
    border-radius: 10px;
}

.painel a{
    vertical-align: middle;
}

body{
    background-color:#202020;
}
