input[type=button], input[type=submit], input[type=reset] {
    background-color: #0098da;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

body {
    margin: 0;
}

.img-logo {
    width: 200px;
    height: 80px;
    margin-left: 45px;
    margin-bottom: 5%;

}

.botao {
    background-color:#0098da;
    height:35px;
    width:90px;
    border:0;
    outline:0;
    -moz-outline:0;
    cursor:pointer;
}