{%include 'base/navbar_aluno.html'%}

<head>
    <title>Eletiva {{eletiva.nome}}</title>
</head>

<body>
    <div class="w3-container" style="margin-left: 20%;">
        <div class="w3-container w3-blue" style="text-align: center;">
            <h2>{{eletiva.nome}}</h2>
        </div>
        <div class="w3-container">
            <table class="w3-table">
                <tr>
                    <th>
                        Número de vagas:
                    </th>
                    <td>{{eletiva.vagas_usadas}}/{{eletiva.vagas}}</td>
                </tr>
                <tr>
                    <th>
                        Descrição:
                    </th>
                    <td>{{eletiva.desc}}</td>
                </tr>
                <tr>
                    <th>Dia da eletiva: </th>
                    <td>{{ eletiva.get_dia_display }}</td>
                </tr>
                <tr>
                    <th>Período: </th>
                    <td>{{ eletiva.get_periodo_display }}</td>
                </tr>
            </table>
            <div class="w3-container w3-center">
                <form action="{%url 'aluno:eletiva' id=eletiva.pk%} " method="POST">
                    {% csrf_token %}
                    <button name="registrar" class="w3-btn w3-blue w3-large" style="margin-top: 50px;">Cadastrar-se</button>
                </form>
                {% if erro is not None %}
                <div class="w3-container w3-red w3-center" style="margin-top: 2%;">
                <p class="error-hard">{{ erro }}</p>
                </div>
                {%elif mensagem is not None%}
                <div class="w3-container w3-green w3-center" style="margin-top: 2%;">
                <p class="error-hard">{{ mensagem }}</p>
                </div>
                {% endif %}
            </div>
        </div>
</body>