{%include 'base/navbar_aluno.html'%}
<html>
<head>
<title>EletivasPro Eletivas</title>
</head>
<body>
    <div class="w3-container" style="margin-left:20%;">
        <div class="w3-container w3-blue w3-center">
            <h2>Suas eletivas</h2>
            <p>Essas são as eletivas em qual você está registrado!</p>
        </div>
        {%for eletiva in eletivas%}
        <div class="w3-card-4 w3-container w3-white" style="margin-bottom: 20px;margin-top:20px;">
            <header>
                <h1><i>{{eletiva.eletiva.nome}} - {{eletiva.eletiva.get_dia_display}}</i></h1>
            </header> 
            <div>
                <a class="w3-btn w3-blue w3-right" style="margin-bottom:20px;" href="{%url 'aluno:registro' id=eletiva.pk%}">Ver informações</a>
            </div>
            </div>
        {%endfor%}
    </div>
</body>
</html>