{% extends 'gestao/home_base.html' %}

{% block title %}Gestão EletivasPro {% endblock %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Página de Gestão</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Gerar PDF de uma eletiva</h3>
                </div>
                <div class="card-body">
                    {% include 'forms/gestao_eletivas.html' %}
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Gerar Csv dos Registros</h3>
                </div>
                <div class="card-body">
                    <a href="{% url 'gestao:gerar_registros' %}" class="btn btn-info btn-block">
                        Gerar
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Gerar Csv das Eletivas</h3>
                </div>
                <div class="card-body">
                    <a href="{% url 'gestao:gerar_eletivas' %}" class="btn btn-info btn-block">
                        Gerar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}